body {
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column; /* alt alta dizer */
  justify-content: center;
  align-items: center;
}

.geri {
    background: darkcyan;
    width: 150px;
  height: 50px;
  margin: 20px;
  border: 4px solid black;
      cursor: pointer;
      display: none;  
}

.ders {
  background: yellowgreen;
    width: 150px;
  height: 50px;
  margin: 20px;
  border: 3px solid yellow;
}

.yazılı {
  display: none;
}

.diğer {
  display: none;
}

.sno {
  
}